.circleContainer {
  display: flex;
  align-items: center;
}

.circleContainer:nth-child(2) {
  margin-top: 2rem;
}

.circleContainer p {
  margin: 0;
  font-size: 14px;
}

.circle {
  margin-right: 1rem;
  display: block;
}
